<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioWCF" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ServidorNegocio/ServicioWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioWCF"
                contract="ProxyServicio.IServicioWCF" name="BasicHttpBinding_IServicioWCF" />
        </client>
    </system.serviceModel>
</configuration>